:root {
    --card-radius: 20px;
    --general-padding: 10px;
}

.grid-container {
    display: grid;
    height: 100vh;
}


.header {
    grid-column: 2 / 3;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 5fr 4fr;

}


.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
}

.sidebar-content {
    display: grid;
    height: 65%;
    column-gap: 30px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr);
    font-size: 2rem;
    place-content: center;
    padding: var(--general-padding);
}

.sidebar-content img {
    font-size: 1rem;
    margin-left: 10px;
    height: 50px;

}

.sidebar-content div:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px lightgreen;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: lightsalmon;
}

.cards {
    display: grid;
    gap: 15px;
    margin-left: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    height: 300px;
    background: white;  
    display: grid;
    grid-template-rows: 9fr 1fr;
    border-style: outset;
    border: outset 2px;
    border-radius: var(--card-radius);
    padding: var(--general-padding)

}


.section-title {
    font-size: 2rem;
    margin: 10px 20px 0px 30px;
    font-style: italic;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    background: rgba(144, 238, 144, 0.637);
    border-radius: 30px;
    margin: 0px 30px;
    border: inset 2px;
}

.trending-content img {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
 
}

.trending-content div {
    align-self: center;
    padding: var(--general-padding);
    
}

.announcement-content {
    background: coral;
    display: grid;
    gap: 50px;
    justify-content: space-between;
    height: 25vh;
    margin: 0 30px;
    scrollbar-width: thin;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: var(--general-padding);
    border: inset 2px;
    border-bottom-left-radius: var(--card-radius);
    border-top-left-radius: var(--card-radius);
    scrollbar-color: rgb(63, 183, 223) lightgreen;
}

.subheading {
    font-size: 1.25rem;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 50px;
    width: 100px;
    padding: var(--general-padding);
    border-radius: 40px;
    border-style: outset;
    border-color: lightcoral;
    background-color: lightcyan;
}

button:hover {
    opacity: 0.8;
}


.welcome-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

.welcome-container div {
    font-size: 1.25rem;
    font-style: italic;
}

.name {font-style: normal;
font-size: 1.1em;}

.welcome-container > img {
    margin: 0 15px 15px 15px;
    height: 100px;
    width: 100px;

}

.quick-menu-content {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 40px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    grid-template-columns: 1fr 15fr;
    margin-top: 15px;
    justify-items: start;
}

.search-bar > input {
    width: 100%;
    appearance: none;
    border-radius: 10px;
    border: inset lightblue 3px;
    padding: 1px var(--general-padding);


}

.search-bar > img {
    height: 30px;
    justify-self: center;
}

.quick-menu-content > img {
    height: 45px;
}

.card-icon-grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.card-icon-grid img {
    height: 40px;
    margin-right: 20px;
}

