
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr; 
    height: 100vh;
    gap: 10px;
}


.header {
    grid-column: 2 / 3;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-template-rows: 0.25fr 1fr;
  

}


.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
}

.sidebar-content {
    display: grid;
    height: 65%;
    column-gap: 30px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr);
    font-size: 2rem;
    place-content: center;
}

.sidebar-content img {
    font-size: 1rem;
    margin-left: 10px;
    height: 50px;

}

.sidebar-content div:hover {
    cursor: pointer;
    text-shadow: 0px 0px 5px lightgreen;
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
    background-color: lightsalmon;
}

.cards {
    display: grid;
    gap: 20px;
    margin: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
    height: 300px;
    background: white;  
    display: grid;
    grid-template-rows: 9fr 1fr;
    border-style: outset;
    border: solid red 3px;
    border-radius: 20px;
    padding: 10px;

}

.side-content-cards {
    display: grid;
}

.announcements, .trending, .main-content {
    margin: 10px;
}

.section-title {
    font-size: 2rem;
    margin: 10px 20px 30px 5px;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    place-content: center;
    
}

.trending-content img {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.trending-content div {
    align-self: center;
    margin-left: 20px;
}

.announcement-content {
    background: coral;
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
    justify-content: space-around;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
    align-items: center;
}

.welcome-container > img {
    grid-row: 1;
    place-content: center;
    margin: 10px;
}

.quick-menu-content {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 40px;
    margin: 20px;
    align-items: center;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 9fr;
}

.search-bar > input {
    width: 100%;
}

.search-bar > img {
    margin-left: 15px;
    height: 40px;
}

.quick-menu-content > img {
    height: 45px;
}

.card-icon-grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.card-icon-grid img {
    height: 40px;
    margin-right: 20px;
}